.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #EAF0FA;
  border-radius: 50px;
  height: 48px;
  gap: 12px;
  padding: 12px 19px;
  min-width: 200px;

  & .icon {
    cursor: pointer;
    transition-duration: .3s;
    color: #ADBFDF;

    &.bg {
      background-color: #fff;
      border-radius: 100px;
    }

    &:hover {
      color: #002CFB;
    }
  }

}


.customSlider {
  flex: 1 0 auto;
  height: 4px;
  min-width: 120px;
  cursor: pointer;
}

.customSlider-track {
  height: 4px;
  border-radius: 4px;
  overflow: hidden;
  background: #ADBFDF;
}

.customSlider-track.customSlider-track-0 {
  background: #002CFB;
}

.customSlider-thumb {
  background: #002CFB;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  outline: none;
}